@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #ffff;
	font-family: 'Verdana';
  font-weight: 400;
  font-size: 12px;
  align-items: center;
  background-color:#c1c7c4;
}



.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #c1c7c4;

}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

homenav{ 
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

homenav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  padding-bottom: 15px;
  position: absolute;
  height: 30px;
}

homenav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  padding-bottom: 23px;
  position: relative;}

nav a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

}

homenav a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #fff;
}

homenav a:hover {
  color: #fff;
}

/* nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #c1c7c4;
  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

homenav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #c1c7c4;
  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
} */

nav a:hover::before {
  width: 100%;
}

homenav a:hover::before {
  width: 100%;
}

nav ul li {
  margin: 0 20px;
}

.bio-heading h1{
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  font-size: 30px;
}

.bio-content p{
  display: flex;
  justify-content: center;
  position: relative;
  white-space:pre-wrap;
  font-size: 17px;
}

.bio-content li{
  display: flex;
  justify-content: center;
  position: relative;
}
/* .icon-15.instagram svg path {
  fill: white; 
}
.icon-15.instagram svg circle {
  fill: white; 
}

.icon.linkedin svg path {
  fill: white; 
}

.icon-15.instagram:hover svg path, .icon-15.instagram:hover svg circle, .icon.linkedin:hover svg path {
  fill: #c1c7c4;
} */

/* .landing .landing-img img{
  object-fit: cover; 
  width: 100%; 
  height: 100%;
} */

/* .landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 100vh;
} */

.landing {
  padding: 20px;
  background-color: #c1c7c4; 
}

.profile-landing{
  padding: 20px;
}


.landing-img, .about-pic{
  position: relative;
  display: inline-block;
}
.profile-img img{
  width: 100%;
}

.landing-img img, .about-pic img {
  max-width: 100%;
  height: auto;
}

.about-pic{
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  font-size: 1.4rem;
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
}

.about-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(90%, -50%);
  width: 186px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}

.about-me, .right-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  backface-visibility: hidden;
}

.about-me {
  background-color: transparent;
  z-index: 2;
  color: white;
}

.right-arrow {
  background-color: transparent;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
  font-size: 40px;
  color: white;
}



.about-btn:hover .about-me {
  transform: translateX(100%);
  opacity: 0;
}

.about-btn:hover .right-arrow {
  transform: translateX(0);
  opacity: 1;
}

/* .left-arrow {
  position:absolute;
  background-color: transparent;
  opacity: 0;
  z-index: 1;
  font-size: 40px;
  color: white;
  transform: translate(160%, 510%);
  float:left;
} */

/* .left-arrow{
  position: absolute;
  top: 135px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
} */


footer{
  background-color: #c1c7c4;
  padding:10px;
  padding-bottom: 35px;
}

.footer-bottom{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -5px;
}

.footer-section{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -5px;
}

/* #landing-image {
  position: absolute;
  transition: transform 1s, opacity 1s;
}
#about-image {
  position: absolute;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s, opacity 1s;
} */

.fade-out-right {
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in-left {
  transform: translateX(100%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* .fade-out-left {
  animation: fadeOutLeft 1s forwards;
}

@keyframes fadeOutLeft {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  100% {
      opacity: 0;
      transform: translateX(-100%);
  }
} */

.fade-out-left {
  transform: translateX(-100%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in-right {
  transform: translateX(-100%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.intro-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 36%;
  text-align: justify;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 36px; 
  border-radius: 10px;
  font-size: large;
  opacity: 0;
  transition: opacity 1.8s ease-in-out;
}


.close-button > div {
  width: 20px;
  height: 4px;
  background-color: #ffff;
  position: absolute;
  right: 20px;
  top: 24px;

}

.close-button > div:first-child{
  -webkit-transform: rotate(45deg);
}

.close-button > div:last-child{
  -webkit-transform:rotate(-45deg);
}