@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #ffff;
	font-family: 'Verdana';
  font-weight: 400;
  font-size: 12px;
  align-items: center;
  background-color:#c1c7c4;
}

/* background-image: linear-gradient(180deg, rgba(50, 55, 40, 0.00) 25%, rgba(48, 67, 64, 0.9) 65%); */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #c1c7c4;

}

header::after {
  content: '';
  display: table;
  clear: both;
}

.OGheader nav {
  float: right;
}

.OGheader homenav{ 
  float: left;
}

.OGheader nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.OGheader homenav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.OGheader nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  padding-bottom: 15px;
  position: absolute;
  height: 30px;
}

.OGheader homenav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  padding-bottom: 23px;
  position: relative;}

.OGheader nav a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

}

.OGheader homenav a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.OGheader nav a:hover {
  color: rgb(72, 112, 60);;
}

.OGheader homenav a:hover {
  color: rgb(72, 112, 60);;
}

/* nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #c1c7c4;
  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

homenav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #c1c7c4;
  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
} */

.OGheader nav a:hover::before {
  width: 100%;
}

.OGheader homenav a:hover::before {
  width: 100%;
}

.OGheader nav ul li {
  margin: 0 20px;
}


.bio-heading h1{
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}


.bio-content p{
  display: flex;
  justify-content: center;
  position: relative;
  white-space:pre-wrap;
  font-size: 17px;
}

/* .bio-content li{
  display: flex;
  justify-content: center;
  position: relative;
  background-color: transparent;
} */

/* .icon-15.instagram svg path {
  fill: white; 
}
.icon-15.instagram svg circle {
  fill: white; 
}

.icon.linkedin svg path {
  fill: white; 
}*/

.icon-15.instagram:hover svg path, .icon-15.instagram:hover svg circle, .icon.linkedin:hover svg path, .icon-13.github:hover svg path, .icon-email:hover svg path{
  fill: rgb(72, 112, 60);
}

/* .landing .landing-img img{
  object-fit: cover; 
  width: 100%; 
  height: 100%;
} */

/* .landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 100vh;
} */

.landing {
  padding: 20px;
  background-color: #c1c7c4; 
}

.profile-landing{
  padding: 20px;
  transition: opacity 1s ease-in;
  
}
.profile-img {
  border-radius:40px ;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.landing-img, .about-pic{
  position: relative;
  display: inline-block;
  border-radius:40px ;
}
.profile-img img{
  width: 100%;
  transition: opacity 1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:40px ;
}

.landing-img img, .about-pic img {
  max-width: 100%;
  height: auto;
  border-radius:40px ;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.about-pic{
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  font-size: 1.4rem;
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
}

.about-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(90%, -50%);
  width: 186px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.about-me, .right-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  backface-visibility: hidden;
}

.about-me {
  background-color: transparent;
  z-index: 2;
  color: white;
}

.right-arrow {
  background-color: transparent;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
  font-size: 40px;
  color: white;
}



.about-btn:hover .about-me {
  transform: translateX(100%);
  opacity: 0;
}

.about-btn:hover .right-arrow {
  transform: translateX(0);
  opacity: 1;
}

/* .left-arrow {
  position:absolute;
  background-color: transparent;
  opacity: 0;
  z-index: 1;
  font-size: 40px;
  color: white;
  transform: translate(160%, 510%);
  float:left;
} */

/* .left-arrow{
  position: absolute;
  top: 135px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
} */


footer{
  background-color: #c1c7c4;
  padding:10px;
  padding-bottom: 35px;
}

.footer-bottom{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -5px;
}

.footer-section{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -5px;
}

/* #landing-image {
  position: absolute;
  transition: transform 1s, opacity 1s;
}
#about-image {
  position: absolute;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s, opacity 1s;
} */

.fade-out-right {
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in-left {
  transform: translateX(100%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* .fade-out-left {
  animation: fadeOutLeft 1s forwards;
}

@keyframes fadeOutLeft {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  100% {
      opacity: 0;
      transform: translateX(-100%);
  }
} */

.fade-out-left {
  transform: translateX(-100%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in-right {
  transform: translateX(-100%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-out-up {
  transform: translateY(-100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in-up {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-out-down {
  transform: translateY(100%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in-down {
  transform: translateY(-100%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.intro-box {
  position: absolute;
  top: 31%;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: fit-content;
  height: fit-content;
  text-align: justify;
  color: white;
  transform: translate(0, 61%);
  /* background-color: rgba(0, 0, 0, 0.5);  */
  padding: 36px; 
  border-radius: 40px;
  font-size: small;
  opacity: 0;
  display: none;
  transition: opacity 1.8s ease-in-out;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  background-image: linear-gradient(180deg, rgba(50, 55, 40, 0.00) 25%, rgba(48, 67, 64, 0.9) 65%);
}

.intro p{
  font-size: small;
  top: 23px;
  position: relative;
  display: block;
}

.close-button > div {
  width: 20px;
  height: 4px;
  background-color: #ffff;
  position: absolute;
  right: 20px;
  top: 24px;

}

.close-button > div:first-child{
  -webkit-transform: rotate(45deg);
}

.close-button > div:last-child{
  -webkit-transform:rotate(-45deg);
}

 /*************************************** MENU STYLES *************************************/
 :root {
  --overlay-color: #c1c7c4;
  --menu-speed: 0.75s;
}

 .menu-wrap {
  position: fixed;
  top: 0px;
  right: 100px;
  z-index: 1;
  opacity: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 45%;
  height: 3px;
  top: -12px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  background-color: black;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
  background-color: black;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  /* border-radius: 50%; */
  width: 200vw;
  height: 400vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #000 ;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li:hover{
  color: rgb(72, 112, 60);;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu h1{
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  font-size: 30px;
}

.menu-socials{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  list-style: none;
}

.menu-socials li {
  padding: 10px;
}

.menu-socials{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  list-style: none;
  background-color: #163c29;
  border-radius: 60px;
}

.menu{
  .icon-15.instagram svg path {
    fill: rgb(192, 192, 192);
  }
  .icon-15.instagram svg circle {
    fill: rgb(192, 192, 192);
  }
  
  .icon.linkedin svg path, .icon-13.github svg path {
    fill: rgb(192, 192, 192);
  }
    
  .icon-15.instagram:hover svg path, .icon-15.instagram:hover svg circle, .icon.linkedin:hover svg path, .icon-13.github:hover svg path, .icon-email:hover svg path{
    fill: rgb(72, 112, 60);
  }
}


/************************* MOBILE VERSION ********************************/
@media (max-width: 768px) {
  .bio-heading h1 {
    font-size: 24px;
    padding: 5px;
  }

  .bio-content p {
    font-size: 15px;
    padding: 20px;
  }

  .bio-content li {
    font-size: 15px;
    padding: 5px;
  }

  .landing {
    padding: 10px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  .profile-landing {
    padding: 20px;
    padding-top: 88px;
  }

  .profile-img img {
    width: 100%;
    margin: 0 auto; /* Center the image */
    display: block;
    border-radius: 20px;
    
  }

  .about-btn {
    width: 140px;
    height: 60px;
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .right-arrow {
    display: none;
  }

  .intro-box {
    width: fit-content;
    padding: 20px;
    font-size: x-small;
    top: 0%;
    left: 0;
    bottom: auto;
    border-radius: 40px;
    transform: translate(0, 66%);
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    background-image: linear-gradient(180deg, rgba(29, 55, 40, 0.00) 25%, rgba(48, 67, 64, 0.9) 65%);
  }

  .close-button > div {
    width: 15px;
    height: 2px;
    background-color: #ffff;
    position: absolute;
    left: 20px;
    top: 35px;
  }

  footer {
    padding: 10px;
    position: relative;
    bottom: 15px;
  }

  .footer-bottom, .footer-section {
    flex-direction: row;
  }
  
  .intro-box p{
		top: 20px;
		display: block;
		position: relative;
	}

  .menu-wrap .hamburger > div,
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
  background-color: white;
  }

  .OGheader nav {
    display: none;
    opacity: 0;
  }
  
  .OGheader homenav{ 
    display: none;
    opacity: 0;
  }
  
  .OGheader nav ul {
    display: none;
    opacity: 0;
  }
  
  .OGheader homenav ul {
    display: none;
    opacity: 0;
  }
  
  .OGheader nav li{
    display: none;
    opacity: 0;
  }
  
  .OGheader homenav li{
    display: none;
    opacity: 0;
  }
  
  .OGheader nav a{
    display: none;
    opacity: 0;
  
  }
  
  .OGheader homenav a{
    display: none;
    opacity: 0;

  }

  .right-arrow{
    display: none;
  }

  .about-btn:hover .about-me {
    transform: translateX(0%);
  }

}

